<nb-card size="xlarge" style="height: 385px;">
  <nb-card-header>
    <span>Ảnh khác</span>
    <div>
      <button class="btn btn-hero-secondary btn-demo btn-header btn-file">Chọn ảnh
        <input type="file">
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="container">

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera1.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera2.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera3.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera4.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera1.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera2.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera3.jpg);">
      </span>

      <span class="__container-img">
        <img style="background-image: url(assets/images/camera4.jpg);">
      </span>

      <span class="__container-add">
        <div class="_m _6a">
          <a class="__9u __9t" rel="ignore" style="background-image: url(assets/images/addImage.png);">
            <div class="_3jk">
              <input accept="video/*,  video/x-m4v, video/webm, video/x-ms-wmv, video/x-msvideo, 
                        video/3gpp, video/flv, video/x-flv, video/mp4, video/quicktime, video/mpeg, video/ogv, .ts, .mkv, image/*, image/heic, image/heif"
                multiple="" name="composer_photo" title="Chọn file để tải lên" data-testid="add-more-photos" display="inline-block"
                type="file" class="_n _5f0v">
            </div>
          </a>
        </div>
      </span>

    </div>

  </nb-card-body>
  <nb-card-footer>
    <span>Các hình ảnh khác về địa điểm</span>
  </nb-card-footer>
</nb-card>