@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nb-card-body {
    padding: 0;
    position: relative;
  }

  ._kkr {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
  }

  ._m {
    position: relative;
  }

  ._6a {
    display: inline-block;
  }

  a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
  }

  .__9t {
    background-image: url(assets/images/addImage.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  
  .__9u {
    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    min-width: 100px;
    position: relative;
    width: auto;
  }

  ._m ._3jk {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  ._m ._n {
    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }

  ._5f0v {
    outline: none;
  }

  input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start !important;
  }

  .btn-header {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .cameras {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .cameras.single-view {
    .camera {
      height: 100%;
      width: 100%;

      &::before {
        height: 100%;
      }
    }
  }

  .camera {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 50%;
    padding: 0;

    span {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bolder);
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }

    &::before {
      background-color: rgba(255, 255, 255, 0.1);
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }
  }

}