@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nb-card-body {
    padding: 0;
    position: relative;
  }

  .__container-img {
    display: inline-block;
    vertical-align: top;

    &::before {
      background-color: rgba(255, 255, 255, 0.1);
      content: '';
      position: absolute;
      width: 97.3px;
      height: 130px;
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }
  }

  img {
    width: 97.3px;
    height: 130px;
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .__container-add {
    display: inline-block;
    vertical-align: top;
  }

  ._m {
    position: relative;
  }

  ._6a {
    display: inline-block;
  }

  a {
    cursor: pointer;
  }

  .__9t {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  
  .__9u {
    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 97.3px;
    position: relative;
    width: auto;
    
  }

  ._m ._3jk {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.5);

    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  ._m ._n {
    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }

  ._5f0v {
    outline: none;
  }

  input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start !important;
  }

  .btn-header {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: pointer;
    display: block;
  }
}