<nb-card>
  <nb-card-header style="font-size:1.25rem;">Nội dung</nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Tên địa điểm">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Địa chỉ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Chi phí cần thiết">
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Mô tả" style="height: 430px;"></textarea>
      </div>
      <button [routerLink]="[ '/pages/profile' ]" class="btn btn-success">Đăng bài</button>
    </form>
  </nb-card-body>
</nb-card>