<div class="row">
  <div class="col-xxxl-9 col-xxl-9 col-md-9 col-lg-9">
    <nb-card>
      <nb-card-body style="overflow: hidden">

        <div class="header-search-bar row">

          <ngx-posts-search (searched)="onSearched($event)" style="width: 40%;"></ngx-posts-search>

          <div class="filter" style="margin-left: 20px;">
            <nb-checkbox status="success" (click)="setStatus(0)">Thưa <i class="fa fa-users" [style.color]="status[0] ? '#5be190' : '#848484'"></i></nb-checkbox>
            <nb-checkbox status="warning" (click)="setStatus(1)">Vừa <i class="fa fa-users" [style.color]="status[1] ? '#ffc107' : '#848484'"></i></nb-checkbox>
            <nb-checkbox status="danger" (click)="setStatus(2)">Đông <i class="fa fa-users" [style.color]="status[2] ? '#dc3545' : '#848484'"></i></nb-checkbox>
          </div>

          <div ngbDropdown>
            <button nbButton status="success" class="btn-demo btn-success btn-outline" id="dropdownConfig"
              ngbDropdownToggle style="border: 2px solid #d9dfe7; height: 46px;">Tìm kiếm nâng cao</button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
              <div ngbDropdown>
                <button nbButton status="success" class="btn-demo btn-success btn-outline" ngbDropdownToggle style="color:aliceblue">Tỉnh/Thành</button>
              </div>
              <div ngbDropdown>
                <button nbButton status="success" class="btn-demo btn-success btn-outline" ngbDropdownToggle style="color:aliceblue">Quận/Huyện</button>
              </div>
              <div ngbDropdown>
                <button nbButton status="success" class="btn-demo btn-success btn-outline" ngbDropdownToggle style="color:aliceblue">Chi
                  phí cần thiết</button>
              </div>
            </div>
          </div>

        </div>

        <div class="posts-container">
          <div *ngFor="let post of posts; let i=index" class="post-item-container" (click)="viewDetail(post)">
            <div (mouseover)="hover[i]=true; postSelected=post; authorSelected=authors[i]" (mouseleave)="hover[i]=false"
              [ngStyle]="setStyleStatus(post.pictures[0], post.status, hover[i])" class="post-item-image">
              <span class="post-item-name">{{post.name}}</span>
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-xxl-3 col-md-3 col-lg-3">
    <nb-card>
      <nb-card-header style="font-size:1.25rem;">{{postSelected?.name}}
        <div>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-alt checked"></span>
          <span class="far fa-star checked"></span>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row" style="position: relative; margin-bottom: 20px">
          <div class="col">
            <img *ngIf="authorSelected" class="avatar" [src]="authorSelected?.picture" alt="Ảnh đại diện">
            <a class="avatar"></a>
          </div>

          <div class="author-information col">
            <p>
              <strong>Người viết: </strong><span class="author-name">{{authorSelected?.name}}</span>
            </p>

            <p>
              <strong>Ngày đăng: </strong><span class="status-item col"><i class="fa fa-calendar-alt"></i>
                {{postSelected?.datePosted}}</span>
            </p>

          </div>
        </div>

        <div class="status row" style="border-bottom: 0">
          <strong style="margin-left: 10px;">Trạng thái hiện tại: </strong>
          <span class="status-item col">
              <i class="fa fa-users" [style.color]="postSelected?.status == '0' ? '#5be190' : (postSelected?.status == '1' ? '#ffc107' : '#dc3545')"></i>
              {{postSelected?.status == '0' ? ' Thưa' : (postSelected?.status == '1' ? ' Vừa' : ' Đông')}}
          </span>
        </div>
        <div class="status row">
          <span class="status-item col" (click)="likeClicked()"><i class="fa fa-heart fa-custom" [ngStyle]="setStyleLike()"></i> {{postSelected?.likeNumber}} lượt thích</span>
          <span class="status-item col" (click)="viewDetail(postSelected)"><i class="fa fa-comment-alt fa-custom"></i> {{postSelected?.commentNumber}} bình luận</span>
        </div>

        <div class="post-description-container">
          <p><strong>Địa chỉ: </strong>{{postSelected?.address}}</p>
          <p><strong>Chi phí cần thiết: </strong>{{postSelected?.costNeed}}</p>
          <p><strong>Mô tả: </strong>{{describe()}}</p>
        </div>

        <div>
          <button class="btn btn-success btn-new-post" (click)="viewDetail(postSelected)">
            Xem chi tiết
          </button>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>