<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="__container-img">
        <img [src]="post.pictures[0]">
      </span>
    </div>
    <div class="col-9" style="border-left: 1px solid #ebeef2; padding-left: 10px;">
      <div class="header">
        <h2>{{post.name}}</h2>
      </div>

      <div class="mainbody">
        <p><strong>Địa chỉ: </strong> {{post.address}}</p>
        <p><strong>Chi phí cần thiết: </strong>{{post.costNeed}}</p>
        <p><strong>Mô tả: </strong>{{describe()}}</p>
      </div>

      <div class="footer">
        <h6 class="footer-item"><i class="fa fa-calendar-alt"></i> {{post.datePosted}}</h6>
        <h6 class="footer-item"><i class="fa fa-heart"></i> {{post.likeNumber}} lượt thích</h6>
        <h6 class="footer-item"><i class="fa fa-comment-alt"></i> {{post.commentNumber}} bình luận</h6>
        <h6 class="footer-item" style="border: 0; padding: 0;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-alt"></i></h6>
      </div>
    </div>
  </div>
</div>