<nb-card size="large">
  <div class="consumption-table">
    <div class="table-header">
      <div style="font-size:1.25rem;">Bài đăng</div>
    </div>

    <nb-tabset fullWidth>
      <nb-tab *ngFor="let tab of data" [tabTitle]="tab.title" [active]="tab.active">
        <div>
            <nb-list
            nbInfiniteList
            [threshold]="500"
            (bottomThreshold)="loadNext(firstCard)">
            <nb-list-item *ngFor="let newsPost of firstCard.news">
              <ngx-post [post]="newsPost"></ngx-post>
            </nb-list-item>
            <nb-list-item *ngFor="let _ of firstCard.placeholders">
              <ngx-post-placeholder></ngx-post-placeholder>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>